// Colors
$black-color: #000000;
$white-color: #FFFFFF;
$light-grey-color:#D9D9D9;
$grey-color: #8E8B8B;
$light-orange-color: #FFCD62;
$red-color: #FF0509;
$green-light-color: #15FF00;
$green-color: #0BD300;

$background-main-color: #EAEAEA;
$background-card-color: #F3F3F3;

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;